.page-base {
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13pt;
  text-align: center;
  width: 900px;
  min-height: 100vh;
  background-color: white;
  padding: 1.5em;
  padding-top: 1em;
}

.book-display {
  display: flex;
  justify-content: space-around;
}

.navigation-button {
  overflow: hidden;
  align-items: center;
  align-content: center;
  position: relative;
  height: 100%;
  width: 400px;
  opacity: 0.5;
  background: linear-gradient(.25turn, rgba(255, 255, 255, 0.8), 50%, rgba(255, 255, 255, 0));
  transition: 0.2s ease-in-out;
}

.navigation-button img {
  opacity: 60%;
  top: 40vh;
  height: 150px;
  width: 80px;
  position: absolute;
  left: 0px;
}

.navigation-button:hover {
  opacity: 1;
}

.navigation-button:hover img {
  transform: scale(102%);
}

.mirror {
  transform: scaleX(-1);
}

@media (max-width: 1050px) {
  .navigation-button {
    display: none;
  }

  .book-display {
    width: 100%;
  }
}

.page-indicator {
  width: 80px;
  height: 80px;
  text-align: center;
  top: 75px;
  right: 40px;
  z-index: 10;
  border-radius: 5px;
  position: absolute;
  background-color: black;
  align-content: center;
  opacity: 60%;
}

.page-number {
  color: white;
  opacity: 100% !important;
}

.page-number * {
  font-size: 25px;
  position: relative;
}

@media (max-width: 750px) {
  .page-indicator {
    display: none;
  }
}

Table {
  word-break: normal;
  border: 1px solid;
}

Table * {
  line-height: 20px;
  text-align: start;
  text-wrap: unset;
}

.audio-column {
  vertical-align: middle;
}

th {
  padding: 0.1em !important;
}

td {
  padding: 0.1em !important;
}

td button {
  padding: 0.1em !important;
}

span {
  font-weight: bold;
  font-size: 14pt;
}

.play-button {
  margin: 0 !important;
  border-radius: 10px;
  border: #4e74db 1px solid;
  background-color: #dde3f5;
}

.play-button-icon {
  opacity: 80%;
  width: 25px;
  height: 25px;
}

.audio-column {
  width: 20px;
}

pre {
  font-size: 1.15em !important;
  text-align: start;
  overflow-x: hidden;
}

ol {
  padding-left: 1em !important;
  text-align: start;
  font-weight: 500;
  font-size: 13pt;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

.animation-wrapper {
  transform: translateX(0%);
}

.swipeRight {
  position: static;
  animation: swipeRight 0.4s ease-out infinite;
  overflow-x: hidden;
}

.swipeLeft {
  position: static;
  animation: swipeLeft 0.4s ease-out infinite;
  overflow-x: hidden;
}


@keyframes swipeRight {
  50% {
    transform: translateX(-100vw);
  }

  50.001% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

@keyframes swipeLeft {
  50% {
    transform: translateX(100vw);
  }

  50.001% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

/* .horizontal {
  display: block;
} */

.horizontal td {
  word-break: break-word;
}

@media (max-width: 800px) {
  .page-base {
    width: 100vw;
    padding: 0.5em;
  }
}

@media (max-width: 500px) {
  .page-base {
    padding: 0.5em;
    padding-right: 0em;
  }
}