.page-base {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
  text-align: start;
  width: 800px;
  height: 885px;
  background-color: white;
  padding: 1.5em;
  overflow-y: scroll;
}

Table * {
  text-align: start;
  padding: 0.1em !important;
}

span {
  font-weight: bold;
}

.vocabulary {
  columns: 2;
  column-gap: 0;
}

@media (max-width: 800px) {
  .page-base {
    width: 100vw;
  }
}