.main-title {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 28pt;
}

.main-body {
  display: block;
  align-items: top;
  justify-content: center;
}

.header {
  background-color: antiquewhite;
  padding: 0.25em;
  border-bottom: 2px solid;
  text-align: center;
}

.footer {
  height: auto;
  position: fixed;
  background-color: antiquewhite;
  border-top: 2px solid;
  text-align: left;
  padding: 1em;
  width: 100%;
  bottom: 0;
}

.book-body {
  height: 100%;
  display: grid;
  flex-flow: column;
  justify-content: center;
  background-color: darkgrey;
}

.controls {
  height: 40px;
  background-color: darkblue;
}