body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
  overflow-x: hidden;
}

@media (max-width: 400px) {
  body {
    font-size: 10pt;
  }

  tr,
  td,
  text,
  span {
    font-size: 11pt !important;
  }

  table {
    max-width: 100vw !important;
    overflow-x: scroll;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}